@{
    ViewBag.Title = "首页";
    
}
@section head{
    <style type="text/css">
        .title {
            height:40px;
            line-height:38px;
            border:1px solid rgb(221,221,221);
            background:#19a97b;
            margin:0 10px;
            padding-left:30px;
            color:#fff;
            font-weight:bold;
            font-size:14px;
        }
        
         .content123 {
            border-left:1px rgb(221,221,221) solid;
            border-right:1px rgb(221,221,221) solid;
            border-bottom:1px rgb(221,221,221) solid;
            margin:0 10px;
            padding-top:10px;
            background-color:#f8f8f8;
            color:#333;
        }
         .content123 p{margin-left:10px;}
         #box{font-size:12px;}
    </style>
    }
<div id="box">
<div class="title title-color">系统说明</div>
<div class="content123">      
    <p class="first">1、为了正常使用本系统，请使用IE8以上浏览器操作系统，点击<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie">下载IE8浏览器</a>。
        为了显示最好效果，推荐您使用<a target="_blank" href="https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN&brand=CHMI">谷歌浏览器</a>或<a target="_blank" href="http://www.firefox.com.cn/">火狐浏览器</a>。
    </p>
    <p>2、为了系统安全，请不要在公共电脑操作后台系统，如网吧、陌生人电脑等。</p>
    <p>3、后台操作完成后，如需离开电脑，一定要记得点退出按钮，以免被他人盗取、修改信息，造成不可估量的损失。</p>
    <p>4、权限设置：如果多人操作后台系统，一定要设置权限分配，每个人操作的功能分工清楚，避免操作重叠，责任不清楚。操作流程：先设置角色管理，再添加管理员，选择相应的权限角色。
    。</p>
    <p>5、关于财务：奖金结算后，要核对无误后再点发放，并导出Excel表格。</p>
    <p>6、财务安全：定期导出财务汇总Excel表格，以保财务数据绝对安全。</p>
    <p>7、数据安全：请定期做好数据库备份，例如每天下班前备份一次数据库</p>
    <p>8、特别注意：不要随便点初始化系统，这是为了刚使用系统时清空测试数据用的。一旦初始化，数据将会全部消失，设置权限为超级管理员才能操作。</p>
</div>
</div>


