@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0;font: 12px arial,"宋体"; color:#1e1102; background:#f8f8f8; height:100%; margin:0 auto; background: url("../images/lbg.jpg")/*tpa=http://hl16082801.gxwlx168.com/Theme/Public/images/lbg.jpg*/  no-repeat; width:100%;background-size: cover; }
html{ width:100%; height:100%;}
li{ list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-size:12px; font-weight:normal;}
button,input,textarea,select{ font:100% arial, "宋体";}
*{ margin:0; padding:0;}
img { vertical-align:center;}
.clear{ clear:both;}
.red{ color:#F00;}
/*链接样式*/
a{ text-decoration:none; color:#6f6f6f;}
a:hover{ color:#fe6500;}
/*链接样式*/

/*top*/
#tis{ position:absolute; color:#fff;}

.pic-bg { background:url("../images/lbg.jpg")/*tpa=http://hl16082801.gxwlx168.com/Theme/Public/images/lbg.jpg*/ no-repeat; position: absolute; top:0; height:100%; width:100%;}

.login_01 li{ list-style:none; margin:0 auto 10px auto; width:100%;}
.login_01 li span{ display:inline-block; text-align:right; padding:4px 10px; width:50px;}
#login_layout {
   width:430px;
   position:absolute;
   left:50%;
   top: 35%;
   margin-top:-220px;
   margin-left: -215px;
   border-radius: 8px;
   }
#login_layout img{ margin-left:10px;margin-bottom: 5px;}
 .zhangh{ position:absolute;left:100px;top:320px; z-index:999;}
.error { height: 24px; line-height:24px; text-indent:130px; }
.shipinf{ width:540px; height:300px; position:absolute;left:-326px; top:-110px; color:#FFF;}
#logo { height: 50px; clear: both;}
.login_dl dt{  text-align: right; width:92px; color:#434343; font-size:12px; line-height:20px; }
.login_dl dd{  float:right; clear:both; text-align:left; width:180px;}
.img_type img{vertical-align:bottom}



.login_01{ padding: 80px 24px 30px 50px;background: url("../images/login_bg.png")/*tpa=http://hl16082801.gxwlx168.com/Theme/Public/images/login_bg.png*/ 0 0 no-repeat; position:relative;}
/*.logg{ width:99%; height:44px; background:url(../images/input_bg.png) repeat-x; border-radius:6px; box-shadow:1px 1px 2px rgba(255,255,255,0.2);}*/
.logg img{ display:block; background:#0099da; border-radius:6px; padding:2px 2px; box-shadow:inset 1px 1px 2px rgba(32,31,31,0.5); float:left; }
.submit_dl { width:200px; margin:0 0 0 100px;}
.submit_dl dd{ float:right;}


.btn_0 {   background: url("../images/btn_0.png")/*tpa=http://hl16082801.gxwlx168.com/Theme/Public/images/btn_0.png*/ no-repeat;width: 191px;height: 60px;border: 0;font-size: 14px;color: #FFF;font-weight: bold;cursor: pointer; transition: background .3s ease-in;outline: none; margin:10px 0 0 65px;}
.btn_1 {background:#B1B0CE; no-repeat; width:150px; height:36px; margin-top:0px; margin-left:-10px; border:0; font-size: 14px; color: #FFF; font-weight:bold; cursor: pointer;}
.for_m{ text-align:right;  margin-top:-10px; margin-right:30px;}
.for_m a{color:#fff; opacity:0.8; text-decoration:underline;}
.for_m a:hover{ color:#fe6500;}
.suo{ position:absolute; top:237px; left:302px; }
.ipt_text {  padding:8px 8px; border:none; outline:none; font-family: arial; margin-top:10px;
font-size: 13px;background:#fff;  box-shadow: 1px 1px 2px #efdcbd inset; border:1px solid #e5ba0f; border-radius:3px;}
.ipt_style { width:180px;}
.clear10 { clear: both; height: 12px; font-size: 0;}

.l-logo {width:320px; height:115px; margin:0 auto; }
.lleft {background:url("../images/lleft.png")/*tpa=http://hl16082801.gxwlx168.com/Theme/Public/images/lleft.png*/ no-repeat; width:100px; height:215px; float:left; margin:84px 0 0 0px; display:inline;}

.lfoot {background-color:#2e2e2e; border-top:2px solid #262626; height:43px; width:100%; position: absolute; bottom:0;}
.lfoot .rtx {float:right; line-height:43px; padding-right:10px; color:#a7a7a7}
.lname { display: block; line-height:32px; text-align:right; font-size:14px; padding-right:8px; }

.ltable {width:400px; margin:0 auto; position:absolute;top:100px;left: -10px; }
.ltable td{line-height:48px;}
.fred { font-size:14px;}
.dddda{ width:50px; height:10px;}
.ipt_hover {background:#FFF; color:#000; border:1px solid #f2c400; height:30px; text-indent:2px; font-family:arial; font-size:16px; line-height:30px; box-shadow: 0 0 1px 0px #000}

 .fullSlide .bd{ position:absolute; left:0; top:0; width:100%;
      height:100%; min-width:1000px; background:#000 } 
	  .fullSlide .bd  ul{ height:100%
      !important; width:100% !important; } 
	  
	  .fullSlide .bd li{ height:100% !important;
      width:100% !important; } 
	  .fullSlide .prev, .fullSlide .next{ position:absolute;
      z-index:1; display:block; width:30px; height:50px; top:50%; margin-top:-100px;
      left:20px; background:url("../images/icons.png")/*tpa=http://hl16082801.gxwlx168.com/Theme/Public/images/icons.png*/ 0 0 no-repeat; cursor:pointer;
      filter:alpha(opacity=60);opacity:0.6; }
	   .fullSlide .next{ left:auto; right:30px;
      background-position:-51px 0; } .fullSlide .prev:hover, .fullSlide .next:hover{
      filter:alpha(opacity=100);opacity:1; } .fullSlide .playState{ display:block;
      position:absolute; z-index:1; right:30px; top:50%; margin-top:-20px; width:51px;
      height:51px; overflow:hidden; background:url("../images/icons.png")/*tpa=http://hl16082801.gxwlx168.com/Theme/Public/images/icons.png*/ 23px -132px
      #000 no-repeat; filter:alpha(opacity=60);opacity:0.6; } .fullSlide .pauseState{
      background-position:23px -201px; } .fullSlide .playState:hover{ filter:alpha(opacity=100);opacity:1;
      } 
	  
 
	  
	  .nav{ height:40px; line-height:40px; background:#c00;
      color:#fff; overflow:hidden; font:normal 14px/40px "Microsoft YaHei"; _font-weight:bold;
      -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; filter:alpha(opacity=80);opacity:0.8;
      } .nav li{ width:120px; float:left; text-align:center; border:1px solid
      #d50000; border-top:0; border-bottom:0; margin-left:-1px; } .nav li a{
      display:block; color:#fff; height:100%; } .nav li a:hover,
	  
	  .nav li.on a{
      background:#880000; color:#fff; }
	 
	 .hd{ position: absolute;
right: 9px;
top: 10px;}
.hd li{display: inline-block;
margin-right: 5px;}
 
 .hd li { display: inline-block;
color: #FFF;
font-size: 10px;
height: 15px;
width: 15px;
text-align: center;
padding-bottom: 2px;
background-color: #0069AE;
background-color: rgba(0, 105, 174, 0.9);
zoom: 1;}
.fullSlide .hd ul .on {
background-color: rgba(113, 179, 222, 0.9);
zoom: 1;
}

