@CHARSET "UTF-8";


/* END Bootstrap fileinput */
/* daterangepicker */
.dtrange {
  line-height: 28px;
  padding: 0px 10px;
  border: 1px solid #BBB;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
  cursor: pointer;
}
.dtrange:hover {
  background-color: #F9F9F9;
}
.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3000;
  border: 1px solid #efae1e;
}
.daterangepicker.dropdown-menu:before,
.daterangepicker.dropdown-menu:after {
  display: none;
}
.daterangepicker.opensleft .ranges,
.daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px;
}
.daterangepicker.opensright .ranges,
.daterangepicker.opensright .calendar {
  float: right;
  margin: 4px;
}
.daterangepicker .ranges {
  width: 160px;
  text-align: left;
}
.daterangepicker .ranges .range_inputs > div {
  float: left;
}
.daterangepicker .ranges .range_inputs > div:nth-child(2) {
  padding-left: 11px;
}
.daterangepicker .calendar {
  display: none;
  max-width: 270px;
  width: auto;
}
.daterangepicker .calendar th,
.daterangepicker .calendar td {
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
}
.daterangepicker .ranges label {
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  
  text-transform: uppercase;
  width: 74px;
}
.daterangepicker .ranges input {
  font-size: 11px;
}
.daterangepicker .ranges .input-mini {
  background-color: #F5F5F5;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 10px 0;
  padding: 0 6px;
  width: 74px;
}
.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.daterangepicker .ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #656d78;
  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background: #33414e;
  border: 1px solid #33414e;
  color: #fff;
}
.daterangepicker .calendar-date {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}
.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}
.daterangepicker {
  position: absolute;
  background:#d5a124;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.daterangepicker table {
  width: 100%;
  margin: 0;
}
.daterangepicker td,
.daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.daterangepicker td.off {
  color: #999;
}
.daterangepicker td.disabled {
  color: #999;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background: #D5D5D5;
}
.daterangepicker td.in-range {
  background: #dfe1e4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #656d78;
  border-color: #656d78;
  color: #fff;
}
.daterangepicker td.week,
.daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}
.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}
.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}
.daterangepicker select.yearselect {
  width: 40%;
}
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}
/* eof daterangepicker */