.net-node-data {
            background-color: #E7F2FB;
        }
        .net-node {
            border-left: 1px solid #808080;
            border-top: 1px solid #808080;
            display: inline-block;
            margin: 0px 10px;
        }
            .net-node td {
                border-right: 1px solid #808080;
                border-bottom: 1px solid #808080;
                padding:5px;
                font-size:12px;
            }
            .net-node a {
                color:#333;
            }

            .user-level-1 {
            background-color: #ff6a00;
        }

        .user-level-2 {
            background-color: #ffd800;
        }

        .user-level-3 {
            background-color: #b6ff00;
        }

        .user-level-4 {
            background-color: #1ee5e5;
        }

        .user-level-5 {
            background-color: #00ff21;
        }

        .user-level-6 {
            background-color: #0ff;
        }

        .user-level-7 {
            background-color: #0094ff;
        }

        .user-level-8 {
            background-color: #0026ff;
        }

        .user-level-9 {
            background-color: #4800ff;
        }

        .user-level-10 {
            background-color: #b200ff;
        }

        .user-level-invalid {
            background-color: #ff0008;
        }

        .user-level label {
            display: inline-block;
            margin: 10px;
            padding: 5px 50px;
        }
        .user-level-split {
            border-top: 1px solid #808080;
            margin: 10px 0;
        }
        .net-box{width: 100%; height: 100%; margin: 0; padding: 0;}