@model FindPassword_SecretSecurity_Data
@{
    Layout = Config.Instance.LayoutForAnonymous;
    ViewBag.Title = "User.ForgetPassword".ToLocal();
}

@section head{
    <style type="text/css">
        body{width:70%;margin:auto;}
    </style>
    }

<div style=" margin: auto;">
        @Html.Tab(new ListItem { Text = "User.ForgetPassword.Email".ToLocal(), Value = "/vip/user/Forget_Email" },
                    new ListItem { Text = "User.ForgetPassword.SecretSecurity".ToLocal(), Value = "/vip/user/Forget_SecretSecurity", Selected = true })

        <div class="panel panel-info">
            <div class="panel-heading">@("User.ForgetPassword.SecretSecurity".ToLocal())</div>
            <div class="panel-body">

                @using (Html.Form())
                {
                    @Html.EditorForModel()
                }
            </div>
        </div>
    </div>

@section foot{
    <script type="text/javascript">
        $(function () {
            $("#UserCode").change(function () {
                if ($(this).val()) {
                    $.post("/vip/user/QuerySecretSecurityText", { userCode: $(this).val() }, function (result) {
                        if (result.IsSuccess) {
                            $("#__SecretSecurityText").text(result.Data);
                        }
                        else {
                            alert(result.Error);
                        }
                    });
                }
            });
        });
    </script>
    }