<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DomainForUser>
        <UrlItem>
            <Prefix>http://</Prefix>
            <Host>front.zmzhelp.xyw1.cn</Host>
            <Port>:80</Port>
        </UrlItem>
    </DomainForUser>
    <DomainForAdmin>
        <UrlItem>
            <Prefix>http://</Prefix>
            <Host>admin.zmzhelp.xyw1.cn</Host>
            <Port>:80</Port>
        </UrlItem>
    </DomainForAdmin>
    <Single>
        <UserHomeTitle>DGC互助社区</UserHomeTitle>
        <UserHomeTitleSimple>DGC</UserHomeTitleSimple>
        <OutOfServiceTitle>系统维护</OutOfServiceTitle>
        <OutOfServiceContent>亲爱的会员，系统正在维护中！给您带来的不便请谅解，我们将尽快完成维护工作，请耐心等候！</OutOfServiceContent>
        <IsOutOfService>false</IsOutOfService>
        <L1Pwd>1</L1Pwd>
        <L2Pwd>1</L2Pwd>
        <Cash>
            <Min>100.00</Min>
            <Multiple>100.00</Multiple>
            <ServiceFeeBL>0.00</ServiceFeeBL>
        </Cash>
        <Transfer>
            <Min>100.00</Min>
            <Multiple>100.00</Multiple>
            <ServiceFeeBL>0.00</ServiceFeeBL>
        </Transfer>
        <RandUserCode>
            <Length>8</Length>
            <Prefix>hy</Prefix>
            <Dict>0123456789</Dict>
        </RandUserCode>
        <GuandanCount>2</GuandanCount>
        <ZhituiPrize>10</ZhituiPrize>
        <Minpipei>0</Minpipei>
        <Maxpipei>24</Maxpipei>
        <JTdongjieday>3</JTdongjieday>
        <TradeLimit>
            <BuyMax>20000</BuyMax>
            <BuyMultiple>1000</BuyMultiple>
            <SellMax>10</SellMax>
            <SellMultiple>100</SellMultiple>
        </TradeLimit>
        <BuyPiPeiHours>0</BuyPiPeiHours>
        <SellPiPieiHours>0</SellPiPieiHours>
        <LockBuyerHours>48</LockBuyerHours>
        <LockSellerHours>48</LockSellerHours>
        <Buydakuanday>30</Buydakuanday>
        <JihuoCodePrice>100</JihuoCodePrice>
        <LockAutoPipei>false</LockAutoPipei>
        <HideAlipay>false</HideAlipay>
        <HideWeixin>false</HideWeixin>
        <BuyDanJihuoCode>0</BuyDanJihuoCode>
        <SellDanJihuoCode>0</SellDanJihuoCode>
    </Single>
    <CurrencyChange>
        <CurrencyChangeItem>
            <FromCurrencyId>2</FromCurrencyId>
            <ToCurrencyId>2</ToCurrencyId>
            <FromBLValue>1.00</FromBLValue>
            <ToBLValue>1.00</ToBLValue>
        </CurrencyChangeItem>
    </CurrencyChange>
    <Tuijianitem>
        <TuijianDaiitem>
            <min>1</min>
            <max>2</max>
            <Dai>1</Dai>
            <bili>8</bili>
        </TuijianDaiitem>
        <TuijianDaiitem>
            <min>2</min>
            <max>3</max>
            <Dai>2</Dai>
            <bili>3</bili>
        </TuijianDaiitem>
        <TuijianDaiitem>
            <min>3</min>
            <max>99999</max>
            <Dai>3</Dai>
            <bili>2</bili>
        </TuijianDaiitem>
    </Tuijianitem>
    <Jingtaitem>
        <Jingtaitem>
            <min>1000</min>
            <max>4999</max>
            <lixi>15</lixi>
        </Jingtaitem>
        <Jingtaitem>
            <min>5000</min>
            <max>9999</max>
            <lixi>20</lixi>
        </Jingtaitem>
        <Jingtaitem>
            <min>10000</min>
            <max>20000</max>
            <lixi>25</lixi>
        </Jingtaitem>
    </Jingtaitem>
    <Jihuomatem>
        <Jihuomatem>
            <min>1000</min>
            <max>9999</max>
            <Cnt>1</Cnt>
        </Jihuomatem>
        <Jihuomatem>
            <min>10000</min>
            <max>20000</max>
            <Cnt>2</Cnt>
        </Jihuomatem>
    </Jihuomatem>
    <HuiLvForIn>
        <HuiLvItem>
            <RealCurrencyId>1</RealCurrencyId>
            <CurrencyId>2</CurrencyId>
            <RealCurrencyBLValue>1.00</RealCurrencyBLValue>
            <CurrencyBLValue>1.00</CurrencyBLValue>
        </HuiLvItem>
    </HuiLvForIn>
    <HuiLvForOut>
        <HuiLvItem>
            <RealCurrencyId>1</RealCurrencyId>
            <CurrencyId>2</CurrencyId>
            <RealCurrencyBLValue>1.00</RealCurrencyBLValue>
            <CurrencyBLValue>1.00</CurrencyBLValue>
        </HuiLvItem>
    </HuiLvForOut>
</Config>